<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LogFileDirectory" value="..\..\..\..\" />
    <add key="DatabaseBackupDirectory" value="..\..\..\DatabaseBackup\"/>
    <add key="DBBackupFileName1" value="OrdersBackup.txt"/>
    <add key="DBBackupFileName2" value="UsersBackup.txt"/>
    <add key="DBBackupFileName3" value="RoutesBackup.txt"/>
    <add key="DBBackupFileName4" value="OSHTRatesBackup.txt"/>
    <add key="DBBackupFileName5" value="TripsBackup.txt"/>
    <add key="DBBackupFileName6" value="CarriersBackup.txt"/>
    <add key="DBBackupFileName7" value="CarrierLineBackup.txt"/>
    <add key="DBBackupFileName8" value="CarrierInfoBackup.txt"/>
    <add key="DBBackupFileName9" value="ContractsBackup.txt"/>
    <add key="DBBackupFileName10" value="InvoicesBackup.txt"/>
    <add key="DBBackupFileName11" value="CustomersBackup.txt"/>
    <add key="FTLMarkup" value="0.08" />
    <add key="LTLMarkup" value="0.05" />
    <add key="DatabaseIP" value="127.0.0.1" />
    <add key="DatabaseName" value="tttdatabase" />
    <add key="DatabaseUsername" value="root" />
    <add key="DatabasePassword" value="Conestoga1" />
  </appSettings>
  <connectionStrings>
    <add name="contractMarketplace"
         connectionString="SERVER=159.89.117.198; 
            DATABASE=cmp;
            UID=DevOSHT;
            PASSWORD=Snodgr4ss!;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>