<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LogFileDirectory" value="..\..\..\..\" />
    <add key="FTLMarkup" value="0.08" />
    <add key="LTLMarkup" value="0.05" />
    <add key="DatabaseIP" value="127.0.0.1" />
    <add key="DatabaseName" value="tttdatabase" />
    <add key="DatabaseUsername" value="root" />
    <add key="DatabasePassword" value="Conestoga1" />
  </appSettings>
  <connectionStrings>
    <add name="contractMarketplace"
         connectionString="Data Source=158.89.117.198;Port=3306;Database=cmp;User ID=DevOSHT;Password=Snodgr4ss!"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>